@import 'app/css/config';

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5px;

  input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid color(var(--body-bg) lightness(40%));
  }

  label {
    transition: transform 0.2s ease, color 0.2s ease;
    transform-origin: left top;
    transform: translateY(1.5em);
    z-index:-1;
  }
}

.active {
  label {
    transform: scale(0.8);
    color: color(var(--body-color) saturation(75%));
  }
}
