:root {
  --font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-size: 16px;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-sm: .85rem;
  --font-size-xs: .75rem;

  --line-height: 1.5;

  --body-bg: #252830;
  --body-color: #cfd2da;

  --grid-gutter: 1em;
  --grid-vertical-spacing: 1em;
}

@custom-selector :--headings h1, h2, h3, h4, h5, h6;

@custom-media --mobile (width <= 40em);
@custom-media --tablet ((width >= 40em) and (width <= 60em));
@custom-media --desktop ((width >= 60em) and (width <= 78em));
@custom-media --large (width >= 78em);
