:root {
  --font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-size: 16px;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-sm: .85rem;
  --font-size-xs: .75rem;

  --line-height: 1.5;

  --body-bg: white;
  --body-color: gray(15%);
}

@custom-selector :--headings h1, h2, h3, h4, h5, h6;
