@import './config';

.grid {
  display: flex;
  margin: -var(--grid-gutter) 0 var(--grid-vertical-spacing) -var(--grid-gutter);
}

.cell {
  flex: 1;
  padding: var(--grid-gutter) 0 0 var(--grid-gutter);
}

.gridFit {
  flex-wrap: wrap;
  justify-content: space-between;
  & > .cell {
    flex: 0 1 auto;
  }
}

.gridFull > .cell {
  flex: 0 0 100%;
}

.grid1of2 > .cell {
  flex: 0 0 50%;
}

.grid1of3 > .cell {
  flex: 0 0 33.3333%;
}
