@import 'app/css/config';

:root {
  --12-navbar-width: 256px;
}

.nav {
  overflow: hidden;
  height: 100%;
  z-index: 1;
  background-color: var(--body-bg);

  a {
    display: block;
    padding-left: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-right: 10px;
    margin-top: 6px;
    border-right: 2px solid #cfd2da;
    color: #cfd2da;
    text-transform: uppercase;
  }

  a:hover {
    background-color: color(white a(30%));
  }

  nav {
    background-color: inherit;
    height: 100%;
    width: var(--12-navbar-width);
    padding-top: 50px;
    transition: transform 1s ease;
  }
}

@media (--desktop), (--large) {
  .nav {
    width: 256px;
  }
}

@media (--mobile), (--tablet) {
  .nav {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: -var(--12-navbar-width);
    z-index: 100;
  }

  .wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: gray(10%);
    transition: opacity 1s ease;
  }

  .open {
    .wrapper {
      opacity: 0.7;
    }

    nav {
      transform: translateX(var(--12-navbar-width));
    }
  }
}
