@import 'app/css/config';

.nav {
  overflow: hidden;
  z-index: 1;
  background-color: var(--body-bg);

  a {
    display: block;
  }

  a:hover {
    background-color: color(white a(30%));
  }

  nav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 256px;
    min-width: 256px;
  }
}

.wrapper {
  width: 256px;
  min-width: 256px;
  transition: all 1s ease;
}

@media (--mobile) {
  .open .wrapper {
    width: 0;
    min-width: 0;
  }
}
