.body {
  display: flex;
  height: inherit;
}

.nav {
  composes: nav from '../SideNavBar/styles';
  width: 256px;
  min-width: 256px;
  background-color: color(blue l(30%));
}

#mainWrapper{
  flex: 1;
}
